/* Created by Marian Dudych */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  /* padding-top: 100px; */
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: url(../img/forest.jpg) no-repeat top;
  background-size: 100%;
  background-position-y: -130px;
}

.logo-img {
  padding-top: 10px;
  display: flex;
  margin: auto;
  width: 236px;
  height: 236px;
}

header h2 {
  padding: 2rem;
}

#logo {
  margin: auto;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 15px;
  color: #fff;
  max-width: 650px;
}

.search-form {
  padding: 2rem;
  display: flex;
}

.search-form input {
  font-size: 2rem;
  width: 600px;
  border: none;
  border: 2px solid rgb(74, 68, 131);
  padding: 0.9rem 1.25rem;
  border-radius: 9px 0 0 9px;
}

.search-form button {
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  background: rgb(74, 68, 131);
  color: white;
  cursor: pointer;
  border-radius: 0 9px 9px 0;
}

.gallery-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #888888;
  padding: 0.5rem 0rem;
  border-top: 0.5px solid black;
  border-right: 0.5px solid black;
  border-left: 0.5px solid black;
  border-radius: 9px 9px 0 0;
  margin-top: 50px;
}

.gallery-info a {
  color: #888888;
}

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 0rem;
  height: auto;
  margin: 0;
  padding: 0;
}

.gallery-img img {
  object-fit: cover;
  border-radius: 0 0 9px 9px;
  width: 350px;
  height: 526px;
}

/* .gallery-img img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
} */

.nav-button {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more {
  padding: 1rem 3rem;
  background: rgb(74, 68, 131);
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 9px;
}

.footer {
  background-color: #fafafa;
}

.container {
  width: 1200px;
  margin: auto;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

.link {
  padding: 30px;
  text-decoration: none;
  color: #888888;
}

.footer-title {
  color: #888888;
  font-size: 18px;
}

.creator {
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin-left: 5px;
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }

  .gallery-img img {
    width: 300px;
    height: 498px;
  }

  .links {
    display: none;
  }

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-title {
    margin: 40px 0;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }

  .gallery-img img {
    width: 340px;
    height: 526px;
  }

  header {
    background-size: 200%;
  }

  #logo {
    display: flex;
    font-size: 32px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }

  .gallery {
    text-align: center;
  }

  header {
    background-size: 300%;
  }

  .gallery-img img {
    width: 90%;
    height: 526px;
  }

  .search-form input {
    width: 480px;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  #logo {
    font-size: 24px;
    padding: 0;
    margin: 0;
  }

  .search-form {
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }

  .gallery-img img {
    width: 90%;
    height: 526px;
  }

  header {
    background-size: 500%;
  }

  .search-form input {
    width: 80%;
  }

  .search-form {
    width: 80%;
  }

  #logo {
    font-size: 20px;
  }

  .gallery-info {
    width: 90%;
    margin: auto;
    margin-top: 50px;
  }
}
